<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Tela de cadastro.</title>
</head>
<body>
    <div class="main-cadastro">
        <div class="left-cadastro">
            <h1>Falta pouco, <br>Venha fazer parte da familia Next. </h1>
            <img src="../static/img/paracadastro.png" alt="Imagem ilustrando tela de cadastro">
        </div>
        <div class="rigth-cadastro">
            <div class="card-cadastro">
                <h1>Cadastre-se</h1>
                <div class="textfield">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" placeholder="Nome">
                </div>
                <div class="textfield">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" placeholder="CPF">
                </div>
                <div class="textfield">
                    <label for="senhaCadastro">Senha</label>
                    <input type="password" id="senhaCadastro" placeholder="Senha">
                </div>
                <button class="btn-cadastro">Cadastrar</button>
                <div class="textfield">
                    <h5><a href="../templates/index.html"><u>Já possuo uma conta.</u></a></h5>
                </div>
            </div>
        </div>
    </div>


</body>
</html>