<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/program.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Abra uma conta,<br>E vem ser Next.</h1>
            <h5><a href= "../templates/TelaDeCadastro.html"><u>ABRA UMA CONTA GRÁTIS -></u></a></h5>
            <img src="../static/img/cartao.png" alt="cartao pagina">
        </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Usuário</label>
                <input type="text" id="usuario" placeholder="CPF">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" id="senha" placeholder="Senha">
            </div>
            <button class="btn-login" onclick="logar()" >Login</button>
		</div>
    </div>
    </div>
</body>
</html>