<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/program.js" type="text/javascript"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Login</title>
</head>
<body>
	<div class="main-login">
		<div class="left-login">
			<h1>
				Abra uma conta,<br>E vem ser Next.
			</h1>
			<h5>
				<a href="/cadastro"><u>ABRA UMA CONTA GRÁTIS</u></a>
			</h5>
			<img th:src="@{/img/cartao.png}" alt="cartao pagina">
		</div>

		<form class="form-signin" th:action="@{/login}" method="POST"
			th:object="${clienteDTO}">

			<div class="right-login">
				<div class="card-login">
					<h1>LOGIN</h1>
					<div class="textfield">
						<label for="usuario">Usuário</label> <input type="text"
							class="form-control" name="cpf" placeholder="CPF" required=""
							autofocus="" th:field="*{cpf}">

					</div>
					<div class="textfield">
						<label for="senha">Senha</label> <input type="password"
							class="form-control" name="senha" placeholder="Senha" required=""
							th:field="*{senha}">
					</div>
					<button class="btn-login" type="submit">Login</button>
				</div>
			</div>

		</form>

	</div>
</body>
</html>