<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../static/css/style4.css"
	th:href="@{/css/style4.css}">
<link rel=" stylesheet "
	href=" https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Banco Next</title>
</head>

<body>
	<header>
		<div class="left">
			<img src="img/download-removebg-preview.png" alt="" class="logo">
		</div>
		<div class="center">
			<h1 class="name" href="#">NEXT</h1>
		</div>
		<div class="barra"></div>
		<div class="right">
			<span class="icon"><box-icon type='solid' name='adjust-alt'></box-icon></span>
			<span class="icon"><box-icon name='dots-vertical'></box-icon></span>
		</div>
	</header>
	<div class="navigation">
		<ul>
			<li class="login"><a href="#"> <img class="foto"
					th:src="@{/img/semfoto.jpg}" alt="">
					<h2 class="name" th:text="${clientes}"></h2>
			</a></li>
			<li class="login"><a href="#">
					<h6 class="name">237-Next Ag: 3858 C/C:473681-8</h6>
			</a></li>
			<li class="login"><a href="#">
					<h6 class="saldo">
						R$
						<h2 th:text="${saldo}"></h2>

					</h6> <span class="icon"><box-icon name='low-vision'
							color='rgb(206, 200, 200)'></box-icon></span>

			</a></li>
			<li class="list"><a href="/home"> <span class="icon"><box-icon
							name='home' type='solid' color='#00ff5f'></box-icon></span> <span
					class="titulo">Ínicio</span>
			</a></li>
			<li class="list"><a href="/extrato"> <span class="icon"><box-icon
							type='solid' name='file-txt' color='#00ff5f'></box-icon></span> <span
					class="titulo">Extrato</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='transfer' color='#00ff5f'></box-icon></span> <span class="titulo">Transferências</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='dollar' color='#00ff5f'></box-icon></span> <span class="titulo">Pagamentos</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='credit-card' type='solid' color='#00ff5f'></box-icon></span> <span
					class="titulo">Cartões</span>
			</a></li>
			<li class="list active"><a href="/pix"> <span class="icon"><box-icon
							name='pinterest-alt' type='logo' color='#00ff5f'></box-icon></span> <span
					class="titulo">Pix</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='bank' type='solid' color='#00ff5f'></box-icon></span> <span
					class="titulo">Crédito</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='line-chart' color='#00ff5f'></box-icon></span> <span
					class="titulo">Investimentos</span>
			</a></li>
			<li class="list"><a href="#"> <span class="icon"><box-icon
							name='crown' type='solid' color='#00ff5f'></box-icon></span> <span
					class="titulo">Mimos</span>
			</a></li>

			<li class="list"><a href="/logout"><span class="icon"><box-icon
							name='power-off' color='#00ff5f' size='md'></box-icon></span> <span
					class="titulo">Logout</span> </a></li>
			<span class="titulo">log</span>
		</ul>
	</div>
	<div class="principal">
		<div class="conteudo">
			<div class="col-1" id="column-1-pix">
				<div class="col-1" id="container-1-pix">
					<h1>Área pix</h1>
					<h6>Envie e receba pagamentos a qualquer hora e dia da semana,
						sem pagar nada por isso.</h6>
				</div>
				<div class="col-1" id="container-2-pix">
					<h2>Enviar</h2>

					<a href="#" class="button"> Transferir </a> <a href="#"
						class="button"> Copia e Cola </a> <a href="#" class="button">
						Pagar </a>

				</div>
				<div class="col-1" id="container-3-pix">
					<h2>Receber</h2>
					<a href="#" class="button"> Cobrar </a> <a href="#" class="button">
						Sacar </a> <a href="#" class="button"> Depositar </a>
				</div>
			</div>
			<div class="col-1" id="column-2-pix">
				<h2>Configurações</h2>
				<a href="#" class="button"> MInhas chaves <i class="icon"><box-icon
							name='chevron-right' color='#00ff5f' size='md'></box-icon></i>
				</a> <a href="#" class="button"> Extrato/Sevoluções <i class="icon"><box-icon
							name='chevron-right' color='#00ff5f' size='md'></box-icon></i>
				</a> <a href="#" class="button"> Meus limites pix <i class="icon"><box-icon
							name='chevron-right' color='#00ff5f' size='md'></box-icon></i>
				</a>
			</div>
		</div>
	</div>


	<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</body>

</html>